book/_build
__pycache__
.DS_Store
.coverage
.hypothesis
.env
._*
.snakemake

# need to keep this out to prevent problems across linux vs mac
uv.lock

# Workflow output directories
**/simple_workflow/*/output/

data
exports
notebooks

# MyST build outputs
_build

# backup files from latin checker
*.md-e

# data files
*.h5ad

